@using Tweetinvi.Models
@model  IEnumerable<TwitterOhana.Models.Tweet>


<head>
    <link href="~/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="~/css/button.css" rel="stylesheet">
</head>
<br/><br/>
@for (int i = 0; i < Model.Count() / 2; i++)
{
    <div class="container">
        <div class="row">
            <div class="col-sm-1">
                <img class="card img-responsive user-photo" src=@Model.ElementAt(i).UserProfileImage>
            </div><!-- /col-sm-1 -->

            <div class="col-sm-5">
                <div class="card panel-default">
                    <div class="top-card panel-heading">
                            @using (Html.BeginForm("deleteTweet", "Home", FormMethod.Get))
                            {
                                <strong>@Model.ElementAt(i).ScreenName </strong> <span class="text-muted"> (@Model.ElementAt(i).UserName) tweeted on @Model.ElementAt(i).CreatedAt 
                                    <button name="Id" type="submit" value=@Model.ElementAt(i).Id class="fabutton">
                                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                                    </button></span>
                            }
                    </div>
                    <div class="panel-body">
                        @Model.ElementAt(i++).Text
                    </div><!-- /panel-body -->
                </div><!-- /panel panel-default -->
            </div><!-- /col-sm-5 -->

            <div class="col-sm-1">
                 <img class="card img-responsive user-photo" src=@Model.ElementAt(i).UserProfileImage>
            </div><!-- /col-sm-1 -->

            <div class="col-sm-5">
                <div class="card panel panel-default">
                    <div class="top-card panel-heading">
                        @using (Html.BeginForm("deleteTweet", "Home", FormMethod.Get))
                        {
                            <strong>@Model.ElementAt(i).ScreenName </strong> <span class="text-muted"> (@Model.ElementAt(i).UserName) tweeted on @Model.ElementAt(i).CreatedAt 
                                <button name="Id" type="submit" value=@Model.ElementAt(i).Id class="fabutton">
                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                               </button></span>
                        }
                    </div>
                    <div class="panel-body">
                        @Model.ElementAt(i).Text
                    </div><!-- /panel-body -->
                </div><!-- /panel panel-default -->
            </div><!-- /col-sm-5 -->
        </div><!-- /row -->

    </div><!-- /container -->
}

